In [1]:
import cptac
ccrcc = cptac.Ccrcc()

In [3]:
import pandas
import cptac.utils as ut
import

In [4]:
df = ut.get_frequently_mutated(ccrcc)
df

Name   Gene  Unique_Samples_Mut  Missense_Mut  Truncation_Mut
0      BAP1            0.154545      0.063636        0.090909
1     KDM5C            0.172727      0.036364        0.145455
2     PBRM1            0.400000      0.072727        0.336364
3     SETD2            0.136364      0.018182        0.118182
4       TTN            0.118182      0.090909        0.036364
5       VHL            0.745455      0.300000        0.445455