In [10]:
import cptac
import scipy.stats as stats
import numpy as np
import pandas as pd
import copy
import cptac.utils as ut
import os, sys
import warnings

In [11]:
warnings.filterwarnings('ignore')
currentdir = os.path.dirname(os.path.realpath('Make_Cancer_Delta_Corr_and_P_Value_Dataframe'))
parentdir = os.path.dirname(currentdir)
parentdir = os.path.dirname(parentdir)
print(parentdir)
sys.path.append(parentdir)
import Delta_Correlation as dc

C:\Users\nanel\Documents\GitHub

In [2]:
cancer = cptac.Luad()

In [5]:
mutated_gene = 'TP53'

In [7]:
mutation_df = cancer.get_somatic_mutation()
mutation_df = mutation_df[mutation_df.Mutation != 'Silent']
mutation_df = mutation_df[mutation_df.Mutation != 'RNA']
mutation_df = mutation_df[mutation_df.Mutation != 'synonymous SNV']
mutation_df

Name          Gene           Mutation Location
Patient_ID
C3L-00001    ABCB1  Missense_Mutation   p.F16C
C3L-00001    ABCG1  Missense_Mutation  p.V148M
C3L-00001    ADCY2  Missense_Mutation  p.R480H
C3L-00001    AKAP4  Missense_Mutation  p.E473K
C3L-00001    ASTN1  Missense_Mutation  p.S841Y
...            ...                ...      ...
X11LU035     TSHZ3  Missense_Mutation  p.H299L
X11LU035    TWIST1  Missense_Mutation  p.H180Q
X11LU035     UNC5C  Missense_Mutation  p.A150T
X11LU035    ZNF721  Missense_Mutation  p.Q764H
X11LU035    ZSCAN1  Missense_Mutation   p.R32G

[25397 rows x 3 columns]

In [3]:
mutation_df = cancer.get_somatic_mutation()
mutation_df = mutation_df[mutation_df.Mutation != 'Silent']
mutation_df = mutation_df[mutation_df.Mutation != 'RNA']
mutation_df = mutation_df[mutation_df.Mutation != 'synonymous SNV']
#look only at gene with both transciptomic and proteomic data
gene_df = cancer.get_transcriptomics('tumor')
if isinstance(gene_df.columns, pd.MultiIndex):
    gene_df = gene_df.droplevel('Database_ID', axis = 1)
prot_df = cancer.get_proteomics('tumor')
if isinstance(prot_df.columns, pd.MultiIndex):
    prot_df = prot_df.droplevel('Database_ID', axis = 1)
gene_df['Patient_ID'] = gene_df.index
prot_df['Patient_ID'] = prot_df.index
gene_df = gene_df.melt(id_vars = 'Patient_ID',
                       var_name ='Mutated_Gene',
                       value_name = 'Transcriptomics')
prot_df = prot_df.melt(id_vars = 'Patient_ID', var_name = 'Mutated_Gene', value_name = 'Proteomics')
omics_df = pd.merge(gene_df, prot_df, how = 'outer')
omics_df = omics_df.dropna()
mutation_df = mutation_df.reset_index()
df = pd.merge(omics_df, mutation_df, how = 'outer')
df = df.drop(columns = 'Location', 'Transcriptomics', 'Proteomics')
df['Mutation'] = df.Mutation.notnull()
df = df.dropna()
df

        Patient_ID  Gene  Transcriptomics  Proteomics  Mutation
0        C3L-00001  A1BG           2.2545     -2.5347     False
1        C3L-00009  A1BG           1.4770     -0.5627     False
2        C3L-00080  A1BG           1.5103     -1.9422     False
3        C3L-00083  A1BG           3.0398      2.1636     False
4        C3L-00093  A1BG           1.7528     -1.0022     False
...            ...   ...              ...         ...       ...
1058371  C3N-02729  ZZZ3           3.7482     -0.9491     False
1058372   X11LU013  ZZZ3           3.9118     -0.8214     False
1058373   X11LU016  ZZZ3           4.2600      0.3780     False
1058374   X11LU022  ZZZ3           4.3142      0.5894     False
1058375   X11LU035  ZZZ3           4.6114      0.0709     False

[1058376 rows x 5 columns]

In [6]:
df[df.Gene == mutated_gene]

       Patient_ID  Gene  Transcriptomics  Proteomics  Mutation
954490  C3L-00009  TP53           2.9596      4.8596      True
954491  C3L-00080  TP53           3.5986      3.2419      True
954492  C3L-00093  TP53           2.3355     -0.6443      True
954493  C3L-00094  TP53           3.7229      0.6554     False
954494  C3L-00095  TP53           3.2606      2.5045      True
...           ...   ...              ...         ...       ...
954570  C3N-02588  TP53           3.6699      1.9905      True
954571   X11LU013  TP53           3.4976      3.3435      True
954572   X11LU016  TP53           3.6073      1.0051      True
954573   X11LU022  TP53           3.5907     -0.6342      True
954574   X11LU035  TP53           3.4140      2.5927      True

[85 rows x 5 columns]