In [1]:
import pandas as pd

In [6]:
ccrcc = pd.read_csv("ccrcc_permutation_1000.csv")
en = pd.read_csv("en_permutation_1000.csv")
luad = pd.read_csv("luad_permutation_1000.csv")
hnscc = pd.read_csv("hnscc_permutation_1000.csv")
lscc = pd.read_csv("lscc_permutation_1000.csv")

In [14]:
full_df = ccrcc.append(en)

In [15]:
full_df = full_df.append(luad)
full_df = full_df.append(hnscc)
full_df = full_df.append(lscc)

In [17]:
full_df_two = full_df.copy()

In [20]:
index = [0,1,2,3,4]
full_df = full_df.set_index("Cancer")

In [24]:
full_df.to_csv("full_1000_perm_df.csv")

In [23]:
pd.read_csv("trial.csv")

,Cancer,A1BG,A1CF,A2M,A2ML1,A4GALT,AAAS,AACS,AADAC,AADAT,...,ZSWIM9,ZW10,ZWILCH,ZWINT,ZXDA,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
0,ccrcc,0.052768,0.000792,0.029393,NaN,0.369258,0.730639,6.625268e-02,0.369157,0.061153,...,NaN,1.505842e-01,3.234980e-02,1.768919e-01,NaN,0.036774,5.210426e-01,8.377880e-02,3.568890e-01,0.201587
1,en,0.772070,NaN,0.912503,1.293601e-02,0.353898,0.004544,3.045338e-09,NaN,0.309129,...,0.628789,7.792139e-01,1.064543e-06,1.008365e-08,NaN,0.292382,9.100349e-02,5.306564e-01,2.413173e-01,0.213227
2,luad,0.736556,NaN,0.011424,NaN,NaN,0.157750,4.727139e-36,0.023033,0.018511,...,NaN,8.346342e-10,1.396016e-19,6.592273e-06,NaN,0.551237,1.173129e-11,2.182073e-08,2.315359e-15,0.000006
3,hnscc,0.970051,0.739924,0.243453,7.144418e-04,0.050850,0.012402,7.889673e-01,0.000253,NaN,...,NaN,7.080334e-04,1.411415e-01,1.429003e-03,NaN,0.002684,8.241874e-04,9.321415e-01,1.315517e-01,0.808588
4,lscc,0.130084,NaN,0.090081,1.076798e-22,0.154768,0.007238,7.391144e-02,0.483319,NaN,...,0.001947,2.474191e-14,1.611531e-54,9.466457e-35,NaN,0.011137,1.070688e-02,1.719782e-09,2.087554e-06,0.021387

In [7]:
ccrcc_two = ccrcc.copy()

In [8]:
ccrcc_two.append(en)

,Cancer,A1BG,A1CF,A2M,A2ML1,A4GALT,AAAS,AACS,AADAC,AADAT,...,ZSWIM9,ZW10,ZWILCH,ZWINT,ZXDA,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
0,ccrcc,0.052768,0.000792,0.029393,NaN,0.369258,0.730639,6.625268e-02,0.369157,0.061153,...,NaN,0.150584,0.032350,1.768919e-01,NaN,0.036774,0.521043,0.083779,0.356889,0.201587
0,en,0.772070,NaN,0.912503,0.012936,0.353898,0.004544,3.045338e-09,NaN,0.309129,...,0.628789,0.779214,0.000001,1.008365e-08,NaN,0.292382,0.091003,0.530656,0.241317,0.213227

In [9]:
ccrcc_two

,Cancer,A1BG,A1CF,A2M,A2ML1,A4GALT,AAAS,AACS,AADAC,AADAT,...,ZSWIM9,ZW10,ZWILCH,ZWINT,ZXDA,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
0,ccrcc,0.052768,0.000792,0.029393,NaN,0.369258,0.730639,0.066253,0.369157,0.061153,...,NaN,0.150584,0.03235,0.176892,NaN,0.036774,0.521043,0.083779,0.356889,0.201587